.app-header {
  height: 200px;
  color: white;
}

.app-title {
  font-size: 2.5em;
}

.search-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.search-wrapper {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.search-input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 50px;
  width: 300px;
  padding: 2px 23px 2px 60px;
  outline: 0;
  background-color: #f5f5f5;
  font-size: 24px;
  margin-right: 20px;
}

.search-input:hover,
.search-input:focus {
  background-color: white;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 30px;
}

.clear-icon {
  position: absolute;
  top: 12px;
  right: 110px;
  width: 30px;
  cursor: pointer;
  visibility: hidden;
}

.search-button {
  border: 1px solid grey;
  border-radius: 5px;
  height: 56px;
  width: 80px;
}
